@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.search-box__form {
    display: flex;
}

.search-box__form-label {
    display: inline-block;
    font-size: 12px;
    font-family: 'Montserrat';
    margin-right: 10px;
}

.search-box__form-input {
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    width: 300px;
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 5px 10px;
    border: 1px solid #a4b6ed;
    border-radius: 3px;
}

.search-box__form-submit {
    margin-top: 17px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    transition: all 0.2s linear;
    /* color: #FFEEDB; */
color:#ffeedb;
    /* background-color: rgba(0, 8, 7); */
    background-color:#496ddb;
    font-family: 'Montserrat';
}

.search-box__form-submit:hover:not(:disabled) {
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #FFEEDB;
    color: rgba(0, 8, 7);
}

.search-box__form-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}