@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header {
  /* background: #496ddb; */
  background: #ffeedb;
  padding: 20px calc(50% - 500px) 10px;
}

.header__title {
  /* font-family: "Luckiest Guy", cursive; */
  font-family: 'Montserrat';
  /* color: #ffeedb; */
  color: #496ddb;
  font-size: 45px;
  margin-left: 40px;
}
