@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat";
}

.list-page {
  padding: 42px calc(50% - 300px);
}

.list-page__title {
  font-size: 34px;
  margin-bottom: 26px;
  font-family: "Montserrat";
  font-weight: 700;
}

.list-page ul li {
  font-size: 18px;
  font-family: "Montserrat";
  border: 1px solid #dbecff;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 6px;
}

.home {
  font-size: 18px;
  font-family: "Montserrat";
  margin-left: 45%;
}
